
/* Remove browser defaults */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.te-tabs-container {
    align-items: center;
    justify-content: center;
}

/* Tab Container */
.te-tabs {
    width: 100%;
    height:max-content;
    flex: 1;
    min-height: 400px;
    background: inherit;
    color: var(--vscode-button-foreground);
    border-radius: 2rem;
}

.react-tabs {
    -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
    width: 60%;
    margin: 0 auto 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--vscode-button-background);
    border-radius: 2rem;
    padding-left: 0px;
    margin-top: 1px;
}

.react-tabs__tab {
    width: 50%;
    padding: 1rem;
    font-size: 18px;
    line-height: 18px;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
}

.react-tabs__tab:before {
  font: var(--fa-font-regular);
  content: "\f013";
  margin-right: 12px;
}

.react-tabs__tab--selected {
    background: var(--vscode-button-background);
}

.react-tabs__tab--disabled {
    color: var(--vscode-disabledForeground);
    cursor: default;
}

.react-tabs__tab:focus {
    outline-color: var(--vscode-focusBorder) !important;
}

.react-tabs__tab:hover {
    background: var(--vscode-button-hoverBackground);
}

.react-tabs__tab:first-child {
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
}

.react-tabs__tab:last-child {
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
}

.react-tabs__tab-panel {
    display: none;
}

.react-tabs__tab-panel--selected {
    display: block;
    font-size: 2rem;
    text-align: center;
}