
.te-tsx-root-container.te-tsx-monitor-root-container {
    opacity: 1
}

.te-tab-favorites:before  {
    content: "\f005";
}

.te-tab-famous:before  {
    content: "\f005";
}

.te-tab-running:before  {
    content: "\f085";
}

.te-monitor-control-container {
    margin-bottom: 10px;
}

.te-monitor-control-row {
    display: flex;
    align-items: stretch;
}
  
.te-monitor-control-top-row {
    height: 100px;
}
  
.te-monitor-control-icon-column {
    width: 100px;
    margin-top: 5px;
}
  
.te-monitor-control-content-column {
    flex: 1;
    margin-top: 5px;
}
  
.te-monitor-control-timer-column {
    width: 200px;
    padding-right: 10px;
    text-align: right;
}

.te-monitor-control-content-container {
    opacity: 1;
}

.te-monitor-control-content-table {
    text-align:left;
}

.te-monitor-control-content-title {
    font-size: 18px;
    padding-right: 12px;
    vertical-align: top;
}

.te-monitor-control-content-details {
    font-size: 14px;
    text-align: left;
}

.te-monitor-control-timer {
    font-size: 70px;
    line-height: 70px;
}
