
button {
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    cursor: pointer;
	transition: background-color 250ms, border-color 250ms, color 250ms;
	.preload & {
		transition-duration: 0s !important;
	}
}

.te-monitor-control-button {
	width: 76px;
    height: 76px;
    border-radius: 38px;
    font-size: 50px;
    line-height: 50px;
    mask-size: cover;
    margin-right: -15px;
    -webkit-mask-size: cover;
    background-color: var(--vscode-button-background);
    &:not([disabled]):hover,
	&:not([disabled]):focus {
		.vscode-light & {
            background-color: var(--vscode-button-hoverBackground);
		}
		.vscode-dark & {
            background-color: var(--vscode-button-hoverBackground);
		}
		
	}
	&:not([disabled]):active {
		.vscode-light & {
            opacity: 0.8
		}
		.vscode-dark & {
            opacity: 0.8
		}
		
	}
}

.te-monitor-control-container {
	.vscode-light & {
		border: 5px solid var(--vscode-button-background);
	}
	.vscode-dark & {
		border: 5px solid var(--vscode-button-background);
	}
}

.te-monitor-control-button-open {
    width: 62px;
    height: 62px;
    margin-top: 5px;
	background-color: #42a5f5;
	.vscode-light & {
		mask: url("../img/light/file.svg") no-repeat 100% 100%;
    	-webkit-mask: url("../img/light/file.svg") no-repeat 100% 100%;
	}
	.vscode-dark & {
		mask: url("../img/dark/file.svg") no-repeat 100% 100%;
    	-webkit-mask: url("../img/dark/file.svg") no-repeat 100% 100%;
	}
}
  
.te-monitor-control-button-run {
    width: 64px;
    height: 64px;
    margin-top: 5px;
	.vscode-light & {
		background-color: #388a34;
		mask: url("../img/light/start.svg") no-repeat 100% 100%;
		-webkit-mask: url("../img/light/start.svg") no-repeat 100% 100%;
	}
	.vscode-dark & {
		background-color: #89d185;
		mask: url("../img/dark/start.svg") no-repeat 100% 100%;
		-webkit-mask: url("../img/dark/start.svg") no-repeat 100% 100%;
	}
}
  
.te-monitor-control-button-favorite {
    width: 68px;
    height: 68px;
    margin-right: -5px;
	background-color: #ffd54f;
	.vscode-light & {
		mask: url("../img/light/favorite.svg") no-repeat 100% 100%;
		-webkit-mask: url("../img/light/favorite.svg") no-repeat 100% 100%;
	}
	.vscode-dark & {
		mask: url("../img/dark/favorite.svg") no-repeat 100% 100%;
		-webkit-mask: url("../img/dark/favorite.svg") no-repeat 100% 100%;
	}
}

.te-monitor-control-button-stop {
	.vscode-light & {
		background-color: #a1260d;
		mask: url("../img/light/stop.svg") no-repeat 100% 100%;
		-webkit-mask: url("../img/light/stop.svg") no-repeat 100% 100%;
	}
	.vscode-dark & {
		background-color: #f48771;
		mask: url("../img/dark/stop.svg") no-repeat 100% 100%;
		-webkit-mask: url("../img/dark/stop.svg") no-repeat 100% 100%;
	}
}

.te-monitor-control-button-pause {
    margin-right: -21px;
	.vscode-light & {
		background-color: #007ACC;
		mask: url("../img/light/pause.svg") no-repeat 100% 100%;
		-webkit-mask: url("../img/light/pause.svg") no-repeat 100% 100%;
	}
	.vscode-dark & {
		background-color: #75BEFF;
		mask: url("../img/dark/pause.svg") no-repeat 100% 100%;
		-webkit-mask: url("../img/dark/pause.svg") no-repeat 100% 100%;
	}
}
  
.te-monitor-control-button-terminal {
    width: 68px;
    height: 68px;
    margin-top: 3px;
    margin-left: 10px;
	.vscode-light & {
		background-color: #46a064;
		mask: url("../img/light/terminal.svg") no-repeat 100% 100%;
		-webkit-mask: url("../img/light/terminal.svg") no-repeat 100% 100%;
	}
	.vscode-dark & {
		background-color: #ff7043;
		mask: url("../img/dark/terminal.svg") no-repeat 100% 100%;
		-webkit-mask: url("../img/dark/terminal.svg") no-repeat 100% 100%;
	}
}
