
button {
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    cursor: pointer;
	transition: background-color 250ms, border-color 250ms, color 250ms;
	.preload & {
		transition-duration: 0s !important;
	}
}

.te-monitor-control-button {
	width: 76px;
    height: 76px;
    border-radius: 38px;
    font-size: 50px;
    line-height: 50px;
    mask-size: cover;
    margin-right: -15px;
    -webkit-mask-size: cover;
    background-color: var(--vscode-button-background);
    &:not([disabled]):hover,
	&:not([disabled]):focus {
		.vscode-light & {
            background-color: var(--vscode-button-hoverBackground);
		}
		.vscode-dark & {
            background-color: var(--vscode-button-hoverBackground);
		}
		
	}
	&:not([disabled]):active {
		.vscode-light & {
            opacity: 0.8
		}
		.vscode-dark & {
            opacity: 0.8
		}
	}
}

#te-monitor-flyout-menu-id {
	width: 270px;
  	height: 295px;
	background-color: var(--vscode-menu-background);
	position: fixed;
	top: 3px;
	left: 0;
	transition: transform .3s
				cubic-bezier(0, .52, 0, 1);
	overflow: scroll;
	z-index: 1000;
	border-radius: 5px;
	border: 2px solid var(--vscode-button-background);
	padding: 7px 15px 7px 15px;
}

#te-monitor-flyout-menu-id::before {
    content: "";
	position: absolute;
	top: 10px;
	left: 125px;
	width: 128px;
	height: 128px;
	z-index: -1;
	opacity: 0.08;
	mask-size: cover;
	background-color: #777;
	-webkit-mask-size: cover;
	mask: url("../img/dark/react.svg") no-repeat 100% 100%;
	-webkit-mask: url("../img/dark/react.svg") no-repeat 100% 100%;
}


#te-monitor-flyout-menu-id.hide {
	transform: translate3d(100vw, 0, 0);
}
   
#te-monitor-flyout-menu-id.show {
	transform: translate3d(calc(100vw - 280px), 0, 0);
	overflow: hidden;
}

.te-monitor-flyout-menu-title-td {
	vertical-align: middle;
}

.te-title.te-monitor-flyout-menu-title {
	font-size: 32px;
}

/*
.te-monitor-flyout-menu-title:before {
	content: "\f085";
	color: var(--fa-primary-color);
}
*/

/*.te-monitor-flyout-menu-title:after {
	content: "\f085";
	color: var(--fa-secondary-color);
}*/

.te-monitor-flyout-menu-section {
	font-weight: bold;
	font-size: 20px;
	padding-top: 10px;
}

.te-monitor-flyout-menu-section-item-table {
	font-size: 18px;
}

.te-monitor-flyout-menu-section-item-td  {
	padding-left: 10px;
}

.te-monitor-flyout-menu-section-item {
	color: var(--vscode-menu-foreground);
	text-decoration: none;
}

// @import '../common/scss/background-gradient.scss';

.te-monitor-flyout-menu-section-item:hover
{ 
    cursor: pointer;
    font-weight: bold;
    // border-right: solid 0px transparent;
    // border-top: solid 0px transparent;
    // border-left: solid 0px transparent;
    // color: if(lightness($body-background-color) < 50, mix(#000, $base-color, 2%), mix(#fff, $base-color, 11%));
   //  border-bottom: solid 2px var(--vscode-button-background) !important;
	// border-style: solid;
	// border-image: linear-gradient(var(--vscode-button-background), transparent) 1;
	// border-bottom:0;
    // border-width: 0px 0 3px 0px;
    // border-style: solid;
    // -webkit-border-image: 
    //   -webkit-gradient(linear, 100% 0, 0 0, from(var(--vscode-button-background)), to(transparent)) 1 100%;
    // -webkit-border-image: 
    //   -webkit-linear-gradient(right, var(--vscode-button-background), transparent) 1 100%;
    // -moz-border-image:
    //   -moz-linear-gradient(right, var(--vscode-button-background), transparent) 1 100%;  
    // -o-border-image:
    //   -o-linear-gradient(right, var(--vscode-button-background), transparent) 1 100%;
    // border-image:
    //   linear-gradient(to right, var(--vscode-button-background), transparent) 1 100%; 
    // @include background-gradient(mix($body-background-color, $neutral-color, 66%), color-stops(mix($body-background-color, $neutral-color, 86%), mix($body-background-color,$neutral-color, 98%)), bottom);
    // @include background-gradient($panel-body-background-color, (mix($panel-body-background-color, $te-navigator-highlight-color, 74%), mix($panel-body-background-color, $te-navigator-highlight-color, 84%), mix($panel-body-background-color, $te-navigator-highlight-color, 92%), mix($panel-body-background-color, $te-navigator-highlight-color, 97%), $panel-body-background-color), bottom);
}

.te-monitor-flyout-menu-section-item-td:hover .te-monitor-flyout-menu-section-item-icon {
	color: var(--vscode-button-hoverBackground);
}

.te-monitor-flyout-menu-section-item-icon {
	width: 22px;
}

.te-monitor-menu-button-container {
	float: right;
	margin-top: 1px;
	margin-right: 1px;
}

.te-monitor-menu-button {
	font-size: 40px;
	background-color: unset;
	border-radius: 7px;
	width: 48px;
	height: 48px;
}

.te-monitor-menu {
	float: right;
}

.te-tsx-root-container.te-tsx-monitor-root-container {
    opacity: 1
}

.te-tab-all:before  {
    content: "\f085";
}

.te-tab-favorites:before  {
    content: "\f005";
}

.te-tab-famous:before  {
    content: "\f2eb";
}

.te-tab-recent:before  {
    content: "\f017";
}

.te-tab-running:before  {
    content: "\f013";
}

.te-monitor-control-container {
    margin-bottom: 10px;
}

.te-monitor-control-row {
    display: flex;
    align-items: stretch;
}
  
.te-monitor-control-top-row {
    height: 90px;
}
  
.te-monitor-control-icon-column {
    width: 88px;
    margin-top: 8px;
}

.te-monitor-control-icon-type-td {
	font-size: 12px;
	line-height: 12px;
	font-weight: bold;
	padding-bottom: 2px;
	text-transform: uppercase;
}

.te-monitor-control-icon-img {
    height: 66px;
    vertical-align: middle;
}

.te-monitor-control-content-column {
    padding: 5px;
}

.te-monitor-control-pin {
	font-size: 32px;
	line-height: 32px;
	margin-right: 10px;
}

.te-monitor-control-pin:hover {
	cursor: pointer;
	opacity: 0.8;
	color: var(--vscode-button-hoverBackground);
}

.te-monitor-control-pin-container {
	vertical-align: middle;
	display: inline-table;
	width: 100%;
	text-align: center;
}

.te-monitor-control-spacer-column {
    flex: 1;
}

.te-monitor-control-button-column {
    padding: 7px 0px 7px 0px;
}
  
.te-monitor-control-button-column-last {
    padding: 7px 20px 7px 0px;
}

.te-monitor-control-content-container {
    opacity: 1;
}

.te-monitor-control-content-table {
    text-align: left;
    width: 100%;
    flex: 1;
}

.te-monitor-control-content-title {
    font-size: 18px;
    line-height: 18px;
    padding-right: 12px;
    vertical-align: top;
}

.te-monitor-control-content-details {
    font-size: 14px;
    line-height: 14px;
    text-align: left;
}

.te-monitor-control-content-details-col0  {
	vertical-align: top;
	width: 80px;
	max-width: 80px;
	padding-left: 5px;
}

.te-monitor-control-content-details-col1 {
	max-width: 160px;
	overflow: hidden;
	padding-left: 10px;
	padding-right: 10px;
	width: 160px;
	white-space: nowrap;
}
  
.te-monitor-control-content-details-col2 {
	max-width: 230px;
	overflow: hidden;
	padding-left: 10px;
	width: 230px;
	white-space: nowrap;
}

.te-monitor-control-time-changed {
	margin-left: 5px;
	font-size: 12px;
}

.te-monitor-control-time-changed-hidden {
	display: none;
}

.te-monitor-control-time-changed-avg-down {
	margin-left: 5px;
}

.te-monitor-control-time-changed-avg-up {
	margin-left: 5px;
}

.te-monitor-control-time-changed-fastest {
	margin-left: 5px;
}

.te-monitor-control-time-changed-slowest {
	margin-left: 5px;
}

.te-monitor-control-content-details-body {
    opacity: 1;
}

.te-monitor-control-content-details-task-name {
	font-weight: bold;
}

.te-monitor-control-button-last {
    margin-right: 5px;
}

.te-monitor-control-container {
	.vscode-light & {
		border: 5px solid var(--vscode-button-background);
	}
	.vscode-dark & {
		border: 5px solid var(--vscode-button-background);
	}
}

.te-monitor-control-button-open {
    width: 62px;
    height: 62px;
    margin-top: 5px;
	background-color: #42a5f5;
	.vscode-light & {
		mask: url("../img/light/file.svg") no-repeat 100% 100%;
    	-webkit-mask: url("../img/light/file.svg") no-repeat 100% 100%;
	}
	.vscode-dark & {
		mask: url("../img/dark/file.svg") no-repeat 100% 100%;
    	-webkit-mask: url("../img/dark/file.svg") no-repeat 100% 100%;
	}
}
  
.te-monitor-control-button-run {
    width: 64px;
    height: 64px;
    margin-top: 5px;
	.vscode-light & {
		background-color: #388a34;
		mask: url("../img/light/start.svg") no-repeat 100% 100%;
		-webkit-mask: url("../img/light/start.svg") no-repeat 100% 100%;
	}
	.vscode-dark & {
		background-color: #89d185;
		mask: url("../img/dark/start.svg") no-repeat 100% 100%;
		-webkit-mask: url("../img/dark/start.svg") no-repeat 100% 100%;
	}
}
  
.te-monitor-control-button-favorite {
    width: 68px;
    height: 68px;
    margin-right: -5px;
	background-color: #ffd54f;
	.vscode-light & {
		mask: url("../img/light/favorite.svg") no-repeat 100% 100%;
		-webkit-mask: url("../img/light/favorite.svg") no-repeat 100% 100%;
	}
	.vscode-dark & {
		mask: url("../img/dark/favorite.svg") no-repeat 100% 100%;
		-webkit-mask: url("../img/dark/favorite.svg") no-repeat 100% 100%;
	}
}

.te-monitor-control-button-stop {
	.vscode-light & {
		background-color: #a1260d;
		mask: url("../img/light/stop.svg") no-repeat 100% 100%;
		-webkit-mask: url("../img/light/stop.svg") no-repeat 100% 100%;
	}
	.vscode-dark & {
		background-color: #f48771;
		mask: url("../img/dark/stop.svg") no-repeat 100% 100%;
		-webkit-mask: url("../img/dark/stop.svg") no-repeat 100% 100%;
	}
}

.te-monitor-control-button-pause {
    margin-right: -21px;
	.vscode-light & {
		background-color: #007ACC;
		mask: url("../img/light/pause.svg") no-repeat 100% 100%;
		-webkit-mask: url("../img/light/pause.svg") no-repeat 100% 100%;
	}
	.vscode-dark & {
		background-color: #75BEFF;
		mask: url("../img/dark/pause.svg") no-repeat 100% 100%;
		-webkit-mask: url("../img/dark/pause.svg") no-repeat 100% 100%;
	}
}
  
.te-monitor-control-button-terminal {
    width: 68px;
    height: 68px;
    margin-top: 3px;
    margin-left: 10px;
	.vscode-light & {
		background-color: #46a064;
		mask: url("../img/light/terminal.svg") no-repeat 100% 100%;
		-webkit-mask: url("../img/light/terminal.svg") no-repeat 100% 100%;
	}
	.vscode-dark & {
		background-color: #ff7043;
		mask: url("../img/dark/terminal.svg") no-repeat 100% 100%;
		-webkit-mask: url("../img/dark/terminal.svg") no-repeat 100% 100%;
	}
}

.te-monitor-control-timer {
    font-size: 70px;
    line-height: 70px;
}
  
.te-monitor-control-timer-column {
    padding-top: 6px;
    padding-left: 10px;
    text-align: right;
}

.te-monitor-control-timer-inner-column {
    padding-right: 15px;
}
