.*
.codecov.yml
.dcignore
.eslint.js
.eslint.json
.gitignore
.nycrc.json
.publishrc.json
**/.github
**/.nyc_output
**/.vscode
**/.vscode-test
**/coverage
**/*.map
**/*.ts
dist/test/**
dist/**/*.map
out/test/**
out/**/*.map
src
**/src
**/test/**
coverage
.coverage
doc
test-files
test-fixture
testFixture
*.yml
*.vsix
*.sh
package-lock.json
webpack.*.js
**/tsconfig.json
**/tsconfig.*.json
**/tsconfig.*.buildinfo
**/tsconfig.buildinfo
**/tsconfig.*.tsbuildinfo
**/tsconfig.tsbuildinfo
**/.todo
fa-project.yaml
node_modules
script
tools
types
