.*
**/.github
**/.nyc_output
**/.vscode
**/.vscode-test
**/coverage
**/*.map
**/*.ts
dist/test/**
dist/**/*.map
out/test/**
out/**/*.map
src
**/test/**
coverage
.coverage
test-fixture
testFixture
*.yml
*.vsix
*.sh
package-lock.json
**/tsconfig.json
**/tsconfig.*.json
**/tsconfig.*.buildinfo
webpack.*.js
node_modules
script
types
.eslint.js
.eslint.json
.publishrc.json
.dcignore
.gitignore
.codecov.yml
fa-project.yaml
**/.todo
