
.te-licmgr-subsection-header {
    white-space: nowrap;
    vertical-align: top;
}

.te-licmgr-license-key-container {
    word-break: break-all;
}

.te-licmgr-copy-key-td{
    vertical-align: middle;
    padding-left: 12px;
}

.te-licmgr-copy-key.fa-icon-button  {
    font-size: 32px;
    line-height: 32px;
}

.te-licmgr-task-table-top-container {
    display: inline;
}

.te-licmgr-button-panel {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: right;
}

.te-licmgr-registration-panel {
    overflow: auto;
}

.te-licmgr-buttons-registration-form-td {
    width: 210px;
    padding-left: 10px;
    position: relative;
}
  
#buttonsPanelDiv {
    transform: scaleY(1);
    transition: transform 400ms ease 0ms;
}
  
#buttonsPanelDiv.is-registration {
    transform: scaleY(0);
    transition: transform 400ms ease 0ms;
}
  
#registrationFormDiv {
    transform: scaleY(0);
    transition: transform 400ms ease 0ms;
}
  
#registrationFormDiv.is-registration {
    transform: scaleY(1);
    transition: transform 400ms ease 0ms;
}

.task-count {
    font-size: 42px;
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 7px;
}

.task-image {
    height: 40px;
}

.task-image-stacked {
    height: 20px;
}

.task-image-stacked-container {
    text-align: center;
}

.task-count-value { 
	opacity: 0.885;
}
