.*
.dcignore
.eslint.js
.eslint.json
.gitignore
.nycrc.json
.publishrc.json
**/.github
**/.nyc_output
**/.vscode
**/.vscode-test
**/coverage
**/*.map
**/*.ts
dist/test/**
dist/**/*.map
out/test/**
out/**/*.map
src
**/src
**/test/**
coverage
.coverage
doc
docs
test-files
test-fixture
testFixture
**/test-files
**/test-fixture
**/testFixture
*.yml
*.vsix
*.sh
*.map
package-lock.json
webpack.*.js
**/tsconfig.json
**/tsconfig.*.json
**/tsconfig.*.buildinfo
**/tsconfig.buildinfo
**/tsconfig.*.tsbuildinfo
**/tsconfig.tsbuildinfo
**/.todo
fa-project.yaml
node_modules
**/node_modules
**/node_modules/**
script
scripts
.stats
tools
types
